Cython==0.29.23
numpy==1.19.5
torch==1.9.0
matplotlib==3.3.3
einops==0.3.0
inflect==5.0.2
Unidecode==1.1.2
librosa==0.8.0
scipy==1.5.4
tqdm>=4.62.3
ffmpeg-python>=0.2.0
opencv-python>=4.5.2
face_alignment>=1.3.5
scikit-learn>=1.0.1
pydub>=0.25.1
pynormalize>=0.1.4
soundfile>=0.10.3
pysptk>=0.1.18
pyworld>=0.3.0
resemblyzer>=0.1.1.dev0
tensorboardX>=2.4.1
gdown>=4.2.0
